﻿@using Staq.Server.Models.Hipchat
@model MarkAsAnswerViewModel
<!DOCTYPE html>
<html lang="en" style="height:100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mark as Answer</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body style="padding-top: 30px;">
  <div class="container">
    <div class="row">
      @foreach (var question in Model.Questions)
      {
        <div class="col-xs-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Asked by @question.Who</h4>
              <p class="card-text">@question.Body</p>
              <a href="#" data-question-id="@question.Id" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
  <script>
    HipChat.register({
      "MarkAsAnswerAction": function (message)
      { 
        const questions = document.querySelectorAll("[data-question-id]");
        for (var i = 0; i < questions.length; i++) {
          const question = questions[i];
          const questionId = question.getAttribute("data-question-id");
          question.addEventListener("click", e => {
            const req = {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({
                body: message.body,
                who: message.sender.name,
              })
            };

            fetch("/api/answer/" + questionId, req)
              .then(res => HipChat.dialog.close())
              .catch(err => HipChat.dialog.close());
          });
        }
      }
    });
  </script>
</body>
</html>
