﻿<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mark as Question</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body style="padding-top: 30px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><i class="fa fa-refresh fa-spin fa-fw"></i> Posting Question</h4>
              <p class="card-text">Once your question has been answered, select the "Mark as Answer" action on the message. This box will close automatically once your question is posted.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://www.hipchat.com/atlassian-connect/all.js"></script>
    <script>
      HipChat.register({
        "MarkAsQuestionAction": function (message) {
          const req = {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              body: message.body,
              who: message.sender.name,
            })
          };

          fetch("/api/ask", req)
            .then(res => HipChat.dialog.close())
            .catch(err => HipChat.dialog.close());
        }
      });
    </script>
  </body>
</html>
