﻿body {
  background: linear-gradient(to bottom right, #018dbb, #00495c);
}
.interior {
  padding: 15px; text-align: center;
}
.interior-left {
  padding: 15px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

.titleL {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #d65002;
  display: block;
  margin-bottom: 24px;
}

.cubone-button {
  width: 200px;
  border: 2px solid transparent;
  font-size: 1.25em;
  font-family: 'Palanquin', sans-serif;
  transition: 0.3s ease-out;
  display: inline-block;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  text-align: center;
  border-color: #D65002;
  color: #fff;
  background-color: #D65002;
}
  .cubone-button:hover, .cubone-button:focus, .cubone-button:active {
    border-color: #b37300;
    color: #0e0e0e;
    background-color: #b37300;
    transition: 0.3s ease-in;
    cursor: pointer;
  }
