﻿<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="~/StyleSheet.css" />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="interior col-md-4">
        <a href="/"><img src="~/STAQ_logo_trans.png" class="responsive" /></a>
        <div class="interior col-xs-12" style="background-color: #fff; margin-top: 15px;">
          <h3>Stack Team Answered Questions</h3>
          <p>Ask questions and give answers, all from your favorite chat service. Our helpful STAQ Curator is on hand to help record your team's learning.</p>
          <button class="cubone-button" style="margin-top: 15px;">Sign In</button>
          <p>to view myQuestions.</p>
        </div>
      </div>
      <div class="interior col-md-8 align-self-center">
        <div class="interior col-xs-12" style="border: 3px solid #fff;">
          <h2 style="color: #fff;">Find A Question</h2>
          <form id="searchForm" method="get" action="/">
            <input id="query" name="query" type="search" class="form-control" placeholder-text="search" value="@Model.SearchQuery" />
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="interior-left col-md-10">
        <div class="interior-left col-xs-12" style="background-color: #fff;">
          @RenderBody()
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>