﻿@using Staq.Server.Models.Web
@model SearchPageViewModel
@{
  Layout = "_Layout";
}

  
          <h3>Recent Activity</h3>
          <span class="titleL"></span>
          <ul>
            @foreach (var question in Model.Questions)
      {
              <p><a href="question/@question.Id?query=@Model.SearchQuery">From @question.Who at @question.When: @question.Body (@question.Answers.Count answers)</a></p>
            }
          </ul>
