﻿@using Staq.Server.Models.Web
@model QuestionPageViewModel
@{
  Layout = "_Layout";
}

<h4>@Model.Question.Body</h4>
<p>Posted at @Model.Question.When</p>
<p>Posted by @Model.Question.Who</p>

<h4>Answers:</h4>
<ul>
  @foreach (var answer in Model.Answers)
  {
    <li>@answer.Who said @answer.Body at @answer.When</li>
  }
</ul>